RUST_BACKTRACE=1
RUST_LOG=debug # info
ADDR=0.0.0.0 # "0.0.0.0" for deploying, "127.0.0.1" for dev
PORT=8085

# iota endpoints
NODE_URL="https://api.testnet.shimmer.network"
FAUCET_URL="https://faucet.testnet.shimmer.network/api/enqueue"
EXPLORER_URL="https://explorer.shimmer.network/testnet"



STRONGHOLD_PASSWORD="some_hopefully_secure_password"
# WALLET_DB_PATH="walletdb"
# STRONGHOLD_SNAPSHOT_PATH="wallet.stronghold"


ENC_KEY="SSjv0ntTAHX6wXjpegzgvPEfnXC04CPWOQp8K0Q+0ZY="
# Mnemonics (Don't ever use them to manage real funds!)
MNEMONIC="game cargo cheap vintage spray fury claw tray girl girl year mountain mad believe bird civil august okay truth guilt embrace trash person master"
# The Wallet database folder used to store account data
WALLET_DB_PATH="./example-walletdb"
# The Stronghold snapshot file location used to store secrets
STRONGHOLD_SNAPSHOT_PATH="./example.stronghold"

KEY_STORAGE_STRONGHOLD_SNAPSHOT_PATH="./key_storage.stronghold"
KEY_STORAGE_STRONGHOLD_PASSWORD="some_hopefully_secure_password"
KEY_STORAGE_MNEMONIC="some_securely_generated_mnemonic"

